.App {
  text-align: center;
  background-color: #17141F;
}

.App-TwitchLogo {
  padding-right: 10px;
}

.App-title {
  font-family: 'Acme', sans-serif;
  letter-spacing: 7px;
  font-weight: 300;
  color: white;
  margin: 0;
  padding-top: 175px;
  font-size: 4em;
}

.Home-features {
  text-align: left;
  margin: 60px auto;
  color: white;
  background-color: #26212F;
  max-width: 700px;
  padding: 30px 50px;
}

.Features-command {
  background-color: #44334a;
  padding: 2px 3px;
  font-style: italic;
}

.Home-features-title {
  text-align: center;
}

.Home-feature {
  padding-top: 30px;
}

.Home-feature-title {
  font-size: 1em;
  margin-bottom: 5px;
}

.Home-feature-bullets {
  padding-left: 30px;
}

.Home-features-list {
  list-style: none;
  padding-left: 0;
}

.Home-feature-bullet {
  margin-top: 10px;
  font-size: 1em;
  font-weight: 300;
}

.App-text {
  margin: auto;
  line-height: 2em;
  max-width: 450px;
  padding-top: 10px;
  color: white;
  font-size: 1em;
  font-style: italic;
}

.App-twitch {
  display: inline-block;
  margin-top: 50px;
  font-weight: 700;
  padding: 20px 30px;
  background-color: #6542A6;
  color: white;
  text-decoration: none;
  color: white;
}

.App-twitch:hover {
  background-color: #7854BB;
  color: white;
}
