
.Command-toggle {
  background-color: #21ba45;
  display: inline-block;
  padding: 20px 0px;
  font-weight: 700;
  font-size: 1em;
  float: right;
  width: 110px;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.Command-toggle-wip {
  font-size: 1em;
  background-color: #2B2532 !important;
  cursor: default;
  font-weight: 300;
  font-style: italic;
}

.Command-toggle-disabled {
  background-color: #db2828;
}

.Command-modal .content {
  /*color: white;*/
  /*background-color: #1E1A24 !important;*/
}

.Command-modal-title {
  font-size: 2em;
  margin: 0;
}

.Command-instructions-rank {
  color: #775c5c;
}

.Command-instructions-price {
  color: #776d5c;
}

.Command-modal-field {
  margin-top: 30px;
}

.Command-modal-field h2 {
  font-size: 1em;
  margin: 0;
  padding-bottom: 5px;
}

.Command-commandContainer {
  background-color: #26212F;
}

.Command-command {
  padding: 20px;
  display: inline-block;
}

.Command-settings {
  display: inline-block;
  float: right;
  font-size: 1.5em;
  padding: 20px;
  color: #18141f;
  /*color: white;*/
  /*background-color: #2e2638;*/
  /*cursor: text !important;*/
}

.Command-settingsContainer {
  float: right;
}

.Command-settings:hover {
  color: white;
  cursor: pointer;
}
