
.Dashboard-content {
  /*color: white;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  float: right;
  width: calc(100% - 200px);
  background-color: #17141F;
  min-height: 100vh;*/
}

.Dashboard-empty {
  text-align: center;
  color: white;
  margin-top: 60px;
  font-size: 1.2em;
}

.Event-text {
  font-weight: 300;
  font-size: 1em;
  margin: 0;
  color: #bcbcbc;
}

.Event-message {
  color: white;
  font-size: 1em;
  margin: 0;
  font-style: italic;
  /*padding: 5px 0;*/
  font-weight: 300;
}

.Event-username {
  font-weight: 500;
  color: white;
}

.Event-time {
  font-weight: 300;
  font-size: 0.8em;
  color: #bcbcbc;
}

.Event-card {
  padding: 5px;
  /*background-color: #6542A6;*/
  margin-bottom: 5px;
}
