.Header {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  right: 0;
  padding-top: 15px;
  color: white;
  text-align: right;
}

.Header-userButton {
  cursor: pointer;
  display: inline-block;
  right: 0;
}

.Header-userButton-icon {
  padding-left: 5px;
}

.Header-menuContainer {
  right: 0;
  position: absolute;
  margin-top: 5px;
  text-align: left;
  z-index: 999;
  background-color: #26212F;
}

.Header-nav {
  cursor: pointer;
  display: block;
  padding: 10px 15px;
  padding-right: 30px;
  color: #E4E2E7;
}

.Header-nav-separator {
  border-top: solid 1px #1E1A24;
}

.Header-nav:hover {
  background-color: #312843;
  color: #A18BC4;
}
