.Layout {
  padding-left: 8px;
}

.LeftPanel {
  position: sticky;
  top: 0;
  padding: 0;
  border-right: solid 1px #3E2F5C;
  height: 100vh;
}

.LeftPanel-top {
  height: calc(30% - 30px);
  border-bottom: solid 1px #3E2F5C;
  padding-left: 5px;
  overflow-y: auto;
}

.LeftPanel-info {
  border-bottom: solid 1px #3E2F5C;
  height: 30px;
  color: white;
  font-size: 0.9em;
}

.LeftPanel-LiveCircle {
  color: red;
  padding-right: 5px;
}

.LeftPanel-OfflineCircle {
  color: #423a52;
  padding-right: 5px;
}

.LeftPanel-info div {
  line-height: 30px;
  text-align: center;
}

.Sidebar {
}

.Content {
  padding: 0 15px;
  max-width: 900px;
}
