.Playlist-songCard {
  padding-top: 30px;
}

.Playlist-songTitle {
  font-size: 1.1em;
}

.Playlist-songDetails {
  font-weight: 300;
  padding-top: 3px;
  font-size: 0.9em;
}

.Playlist-songDetails-bold {
  font-weight: 500;
}

.Playlist-noSongs {
  font-size: 1.5em;
  text-align: center;
  padding-top: 60px;
  font-weight: 300;
}
