.SongPlayer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 5px;
}
.SongPlayer-playlistInfo {
  color: white;
  display: inline-block;
  background-color: #26212F;
  padding: 10px;
  margin-bottom: 5px;
}
.SongPlayer-youtube {
}

.SongPlayer-youtube-hidden {
  display: none;
}
.SongPlayer-controls {
}

.SongPlayer-control {
  color: white;
  padding: 10px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  cursor: pointer;
  background-color: #26212F;
}

.SongPlayer-control-icon {
  padding-right: 5px;
}
