
.Widgets {
  color: white;
  padding-bottom: 60px;
}

.Widgets-iframe {
  background-color: #26212F;
}

.Widgets-instructions {
  font-style: italic;
  color: grey;
  padding-top: 30px;
  padding-bottom: 5px;
}

.Widgets-title {
  font-size: 1.5em;
  margin: 0;
  padding-top: 60px;
}

.Widgets-title:first-child {
  padding-top: 30px;
}

.Widgets-buttonGroup {
}

.Widgets-button {
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  width: 150px;
  background-color: #26212F;
}

.Widgets-subTitle {
  font-size: 1em;
  margin-bottom: 0;
}

.Widgets-copyPasta {
  background-color: #26212F;
  padding: 20px;
}

.Widgets-textInputContainer {
}

.Widgets-textInput {
  padding: 5px;
  width: 400px;
}

.Widgets-textInputButton {
  padding: 5px;
}
