<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bitcoin donation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.2/noty.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.2/noty.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500" rel="stylesheet">
    <style>
      body {
        /*zoom: 200%;*/
      }
      .noty_body {
        background-color: #6542A6;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
      }
      .username {
        font-style: normal;
        font-weight: 500;
      }
      #wow img {
        width: 100%;
      }
      #wow .text {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: white;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        font-size: 1.5em;
      }
    </style>
  </head>
  <body>
    <div id="wow"></div>
    <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
    <script>
      var firebaseConfig = {
        apiKey: '<%= firebaseApiKey %>',
        databaseURL: '<%= firebaseDatabaseURL %>',
        projectId: '<%= firebaseProjectId %>'
      };
      firebase.initializeApp(firebaseConfig);
    </script>
    <script>
      var currentVersion
      firebase.database().ref('widgets/bitcoin-donation').on('value', function(snapshot) {
        const nextVersion = snapshot.val()
        console.log(nextVersion)
        if (!currentVersion) {
          currentVersion = nextVersion
        } else if (currentVersion !== nextVersion) {
          console.log('FORCING RELOAD!!!!')
          location.reload(true)
        }
      })

      var channelId = getParameterByName('channelId')
      var isPreview = getParameterByName('preview')

      if (isPreview) {
          document.body.style.zoom = '100%';

          var randomEvents = [
            function() { notifyBtcDonation(0.023, 200) },
            function() { notifyBtcDonation(1.001, 1750) },
          ]

          randomEvents[0]()
          setInterval(function() {
            var randomEvent = randomEvents[Math.floor(Math.random() * randomEvents.length)]
            randomEvent()
          }, 5500)
      } else {
        if (!channelId) {
          new Noty({
            text: 'Something went wrong. Did you copy the right URL?',
            theme: 'metroui',
            timeout: false,
          }).show()
          console.log('error')
        } else {
          var ref = firebase.database().ref('channels/' + channelId + '/followers')
          ref.on('child_added', function(snapshot) {
              var value = snapshot.val()
              notifyBtcDonation(value.totalBtc, value.totalUsd)
          })
        }
      }
      function notifyBtcDonation(totalBtc, totalUsd) {
        var request = new XMLHttpRequest;
        var key = '2Y3mDfmy6hWhFycXdma2XSMcG1ep7YZZ'
        var tag = 'wow'
        request.open('GET', 'https://api.giphy.com/v1/gifs/random?api_key=' + key + '&tag=' + tag, true);
        request.onload = function() {
          if (request.status >= 200 && request.status < 400){
            data = JSON.parse(request.responseText).data.image_url;
            console.log(data);
            document.querySelector('#wow').innerHTML = '<center><img src = "'+data+'"  title="GIF via Giphy"></center><center class="text">' + totalBtc + ' Bitcoin donation! ($'+ totalUsd + ')</center>';
            setTimeout(function() {
              document.querySelector('#wow').innerHTML = ''
            }, 5000)
          } else {
            console.log('reached giphy, but API returned an error');
           }
        };
      	request.onerror = function() {
      		console.log('connection error');
      	};

      	request.send();
      }
      function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }
    </script>
  </body>
</html>
