<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>notifications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.2/noty.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.2/noty.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500" rel="stylesheet">
    <style>
      body {
        zoom: 200%;
      }
      .noty_body {
        background-color: #6542A6;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
      }
      .username {
        font-style: normal;
        font-weight: 500;
      }
    </style>
  </head>
  <body>
    <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
    <script>
      var firebaseConfig = {
        apiKey: '<%= firebaseApiKey %>',
        databaseURL: '<%= firebaseDatabaseURL %>',
        projectId: '<%= firebaseProjectId %>'
      };
      firebase.initializeApp(firebaseConfig);
    </script>
    <script>

      var currentVersion
      firebase.database().ref('widgets/simple-notifications').on('value', function(snapshot) {
        const nextVersion = snapshot.val()
        if (!currentVersion) {
          currentVersion = nextVersion
        } else if (currentVersion !== nextVersion) {
          location.reload(true)
        }
      })

      var channelId = getParameterByName('channelId')
      var isPreview = getParameterByName('preview')

      if (isPreview) {
        document.body.style.zoom = '100%';
      }

      // var randomEvents = [
      //   function() { notifyFollower('DrDisRespectLive') },
      //   function() { notifyFollower('Shroud2') },
      //   function() { notifyCheer('MONTYvsTHEWORLD', 'Here, have some bits!', 1000) },
      //   function() { notifyCheer('buckiize', null, 69) },
      //   function() { notifySubscriber('distortion2', 'Love your channel keep it up', 'PRIME', 4) },
      //   function() { notifySubscriber('SomeGuy2', 'Noice!', '2000', 1) }
      // ]
      //
      // setInterval(function() {
      //   var randomEvent = randomEvents[Math.floor(Math.random() * randomEvents.length)]
      //   randomEvent()
      // }, 1000)
      if (!channelId) {
        new Noty({
          text: 'Something went wrong. Did you copy the right URL?',
          theme: 'metroui',
          timeout: false,
        }).show()
        console.log('error')
      } else {
        var ref = firebase.database().ref('channels/' + channelId + '/followers').orderByChild('timestamp').startAt(Date.now())
        ref.on('child_added', function(snapshot) {
            var value = snapshot.val()
            notifyFollower(value.username)
        })
        var ref = firebase.database().ref('channels/' + channelId + '/followers').orderByChild('testTimestamp').startAt(Date.now())
        ref.on('child_added', function(snapshot) {
            var value = snapshot.val()
            notifyFollower(value.username)
        })
        var ref = firebase.database().ref('channels/' + channelId + '/subscribers').orderByChild('timestamp').startAt(Date.now())
        ref.on('child_added', function(snapshot) {
            var value = snapshot.val()
            notifySubscriber(value.username, value.message, value.plan, value.months)
        })
        var ref = firebase.database().ref('channels/' + channelId + '/subscribers').orderByChild('testTimestamp').startAt(Date.now())
        ref.on('child_added', function(snapshot) {
            var value = snapshot.val()
            notifySubscriber(value.username, value.message, value.plan, value.months)
        })
        var ref = firebase.database().ref('channels/' + channelId + '/cheers').orderByChild('timestamp').startAt(Date.now())
        ref.on('child_added', function(snapshot) {
            var value = snapshot.val()
            notifyCheer(value.username, value.message, value.bits)
        })
        var ref = firebase.database().ref('channels/' + channelId + '/cheers').orderByChild('testTimestamp').startAt(Date.now())
        ref.on('child_added', function(snapshot) {
            var value = snapshot.val()
            notifyCheer(value.username, value.message, value.bits)
        })
      }

      var timeout = 5000
      var layout = 'top'
      var sounds = {
        sources: ['sound1.wav'],
        volume: 1,
        conditions: ['docVisible']
      }

      function notifyFollower(username) {
        new Noty({
          text: '',
          layout: layout,
          theme: 'metroui',
          timeout: timeout,
          sounds: sounds,
          callbacks: {
            onTemplate: function() {
              this.barDom.innerHTML = '<div class="noty_body"><span class="username">' + username + '</span> has just followed!<div>';
            }
          }
        }).show();
      }
      function notifySubscriber(username, message, plan, months) {
        new Noty({
          text: '',
          layout: layout,
          theme: 'metroui',
          timeout: timeout,
          sounds: sounds,
          callbacks: {
            onTemplate: function() {
              var planName = {
                1000: '4.99',
                2000: '9.99',
                3000: '24.99',
              }[plan] || plan
              this.barDom.innerHTML = '<div class="noty_body"><span class="username">' + username + '</span> just subscribed with a <span class="username">' + planName + '</span> sub<div>';
            }
          }
        }).show();
      }
      function notifyCheer(username, message, bits) {
        new Noty({
          text: '',
          layout: layout,
          theme: 'metroui',
          timeout: timeout,
          sounds: sounds,
          callbacks: {
            onTemplate: function() {
              this.barDom.innerHTML = '<div class="noty_body"><span class="username">' + username + '</span> has just cheered <span class="username">x' + bits + '</span><div>';
            }
          }
        }).show();
      }


      function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }
    </script>
  </body>
</html>
